.yith-wcwl-add-to-wishlist-button { padding: 0.5rem 1rem !important; margin-bottom: 0.5rem; }

.listing-status-Published { display: none; }
 #CastBack-MyListings .listing-status-Published { display: flex; }
.listing-status-Draft { background-color: #ff0000; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; }
.listing-status-Published { background-color: #00ff00; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; }
.listing-status-unknown { background-color: #888888; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; }

.listing-tag-category { background-color: #0088ff; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; }
.listing-tag-category a { color: #ffffff !important; font-size: small; }
.listing-tag-category a:hover { color: #ffffff88 !important; 
.listing-tag-msrp { text-decoration: line-through; }

.acf-hidden, .acf-castback-hidden { display: none; }

#CastBack-Logout { float: right; width: 10%; }
#CastBack-MyAccount { float: left; }
#CastBack-MyAccount, #CastBack-MyListings, #CastBack-MyOffers, #CastBack-MyOrders, #castback-order { display: inline-block; width: fit-content !important; float: left; padding-bottom: 1rem; margin-bottom: 1rem; }

#castback-sidebar { width: 35%; display: inline-block; float: right; margin-bottom: 1rem; }

#CastBack-MyListings .acf-form-submit, #CastBack-MyOffers .acf-form-submit, #CastBack-MyOrders .acf-form-submit, a#castback-order .acf-form-submit { margin: 0 1rem 1rem 0; }

.castback-order-listing { max-width: 575px; float: left; padding: 1rem; padding: 1rem; }
.castback-order-listing { max-width: 200px; }
.castback-order-details { width: fit-content; }

.castback-order-listing .listing { background-color: #DDDDDD;  }
.castback-order-listing .listing-pricebox { flex-direction: row !important; padding: 0; }
.castback-order-listing .listing-tags { flex-direction: row !important; padding: 0; }
.castback-order-listing .listing-info { display: block; }
.castback-order-listing .listing-buttons { display: none; }
#CastBack-MyListings .castback-order-listing .listing-buttons { display: unset; }
.castback-order-listing .listing-details { background-color: white; }
.e-con-full .e-flex:has(> .listing-details) { flex-direction: row; }
.castback-order-listing .listing-details .e-con-inner { display: block; }

.order_history { display: flex; flex-direction: column; border: solid 1px black; float: right; margin-top: 1rem; }
.order_history_item  { width: 100%; background-color: #dddddd; float: left; padding: 0.5rem; }
.order_history_item.customer { background-color: #d4efef; }
.order_history_item.seller { background-color: #aad3d3; }
.order_history_subitem { width: 100%; float: left; }
.order_history_subitem.date { font-size: small; }
.order_history_subitem.offer_expired { text-decoration: line-through; }
.order_history_subitem.offer_expired:after { content: " (expired)"; color: red; font-size: smaller; }
.customer .order_history_subitem { text-align: left; }
.seller .order_history_subitem { text-align: right; }

.acf_offers, .acf_messages, .acf_shipping, .acf_dispute { width: fit-content; clear: both; float: left; margin: 1rem 0; }
.acf-field-68a0f1c63178a, .acf-field-68af2cd79c27b, .acf-field-68b1c614b344d { display: none; }

.acf_offers .acf-field-68a0f1c63178a { display: block; width: 100% !important; }
.acf_messages .acf-field-68af2cd79c27b { display: block; width: 100% !important; }
.acf_shipping .acf-field-68b1c614b344d { display: block; width: 100% !important; }	