#order_status { text-align: right; float: right; padding-left: 0.5rem; text-transform: none; font-size: small; }

.dokan-vendor-setup-wizard #wc-logo img { max-width: 350px !important; }

/* .listing-status-Published { display: none; } */
 /* #CastBack-MyListings .listing-status-Published { display: flex; } */
/* .listing-status-Draft { background-color: #ff0000; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */
/* .listing-status-Published { background-color: #00ff00; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */
/* .listing-status-unknown { background-color: #888888; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */

/* .listing-tag-category { background-color: #0088ff; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */
/* .listing-tag-category a { color: #ffffff !important; font-size: small; } */
/* .listing-tag-category a:hover { color: #ffffff88 !important; } */
/* .listing-tag-msrp { text-decoration: line-through; } */

.CastBack-shopFilter-taxLabel h3 { padding: 0.25rem 0.5rem; background-color: var(--e-global-color-primary); color: var(--e-global-color-01b2f71); }
.CastBack-shopFilter-taxLabel { background-color: var(--e-global-color-01b2f71); border: solid 2px var(--e-global-color-primary); margin-bottom: 0.5rem; }

.CastBack-shopFilter-taxLabel.active h3 { background-color: var(--e-global-color-text); color: var(--e-global-color-01b2f71); }
.CastBack-shopFilter-taxLabel.active { border: solid 2px var(--e-global-color-text); }

/* a.CastBack-shopFilter-termLabel { margin: 0.5rem; }  */
/* a.CastBack-shopFilter-termLabel:hover { color: var(--e-global-color-accent); } */

.castback-button-important { background-color: var(--e-global-color-text) !important; }
.acf-hidden, .acf-castback-hidden { display: none; }
.acf-fields { display: contents; }
.d-none { display: none !important; }
/* #CastBack-Logout { float: right; width: 10%; } */
/* #CastBack-MyListings a, #CastBack-MyOffers a, #CastBack-MyOrders a, #castback-order a  { color: var(--e-global-color-text); } */

/* #CastBack-MyListings, #CastBack-Listing, #CastBack-MyOffers, #CastBack-MyOrders, #castback-order { display: inline-block; } */
/* min-width: 45%; width: fit-content !important; float: left; 
	padding: 0.5rem; margin: 0 1rem 1rem 0; border: solid 0.25rem darkslategray; } */
/* Below is a duplicate, if 'castback-order' is needed.... */
/* #castback-order { display: inline-block; min-width: 45%; width: fit-content !important; float: left; padding: 0.5rem; margin: 0 1rem 1rem 0; border: solid 0.25rem darkslategray; } */
/* #CastBack-MyListing h3, #CastBack-MyOffers h3, #CastBack-MyOrders h3, #castback-order h3 { margin-bottom: 0.5rem; } */
/* #CastBack-MyListing a.item, #CastBack-MyOffers a.item, #CastBack-MyOrders a.item, #castback-order a.item { display: flex; padding: 0rem 0.25rem; } */

/* a.elementor-button { display: none; } */
/* button.woocommerce-button.button.woocommerce-form-login__submit { background-color: red !important; color: blue !important; } */
/* #CastBack-MyListings { background-color: tan; } */
/* #CastBack-MyOffers, #castback-offer, #castback-sidebar .offer_history { background-color: lightgoldenrodyellow; } */
/* #CastBack-MyOrders, #castback-order, #castback-sidebar .order_history { background-color: lightgreen; } */

/* #castback-sidebar { width: 35%; display: inline-block; float: right; margin-bottom: 1rem; } */

/* #CastBack-MyListings .acf-form-submit, #CastBack-MyOffers .acf-form-submit, #CastBack-MyOrders .acf-form-submit, a#castback-order .acf-form-submit { margin: 0 1rem 1rem 0; } */

#CastBack-ListingPrice, #CastBack-ShippingPrice, #CastBack-TotalPrice { text-align: right; }
#CastBack-ListingPrice::before, #CastBack-ShippingPrice::before
#CastBack-TotalPrice::before { content: '$'; font-weight: 800; }
#castback_offer_amount { text-align: right; padding: 0.25rem; height: 100%; width: 85%; float: left; }
#castback_MOT_flag { padding: 0.25rem; width: 10%; }
.castback_offer_amount_wrapper { float: left; width: 100%; text-align: right; margin-left: 1.25rem; }
.castback_offer_amount_plusShipping { font-size: small; color: red; width: 100%; float: left; }
.castback-order { display: flex; /* height: fit-content;  */ flex-direction: column; padding: 0.5rem; margin: 0.5rem 0 1.25rem; }
/* .castback-listing { display: flex; height: fit-content; } */
/* .castback-listing .castback-listing-panel  { width: 75%; } */
.castback-listing-panel .e-con, .castback-listing-panel .e-con-inner  { padding: 0; }
/* .castback-listing.disabled .castback-listing-panel  { width: 100%; } */
/* .castback-order, .castback-listing { background-color: var(--e-global-color-01b2f71); } */

#CastBack-MyOffers, #CastBack-MyOrders, #CastBack-Listings, #CastBack-Shop { padding: 1.25rem; }
/* #CastBack-MyListings .castback-listing, #CastBack-DrawListing .castback-listing, #CastBack-Shop .castback-listing { background-color:  var(--e-global-color-938a83b); padding: 0.5rem; margin: 0.5rem 0 1.25rem; } */
/* #CastBack-MyOffers .castback-order, #CastBack-MyOffers .castback-listing { background-color: var(--e-global-color-f64482c); } */
/* #CastBack-MyOrders .castback-order, #CastBack-MyOrders .castback-listing { background-color: var(--e-global-color-0a1cea8); } */
/* #CastBack-MyOffers .castback-listing, #CastBack-MyOrders .castback-listing { padding: 0rem; } */
/* .castback-listing:not(:has(> .castback-listing-panel)) { background-color: lightgreen; } */

/* .castback-order, .castback-listing:not(:has(> ..castback-listing-panel)) { background-color: darkyellow); } */

/* .castback-listing .castback-listing-panel { border: solid 2px red; } */
/* .castback-listing .castback-listing-panel { background-color: white; } */
/* .castback-order .castback-listing-panel, .castback-listing .castback-listing-panel { background-color: green; } */
/* .castback-order-details { width: fit-content; } */

/* .castback-order-listing .listing { background-color: #DDDDDD;  } */
/* .castback-order-listing .listing-pricebox { flex-direction: row !important; padding: 0; } */
/* .castback-order-listing .listing-tags { flex-direction: row !important; padding: 0; } */
/* .castback-order-listing .listing-info { display: block; } */
/* .castback-order-listing .listing-buttons { display: none; } */
/* #CastBack-MyListings .castback-order-listing .listing-buttons { display: unset; } */
/* .castback-order-listing .listing-details { background-color: white; } */
/* .e-con-full .e-flex:has(> .listing-details) { flex-direction: row; } */
/* .castback-order, .castback-listing .listing-details .e-con-inner { display: block; } */

#acf-form input.acf-button { margin: 1rem; }
#acf-form { background-color: var(--e-global-color-primary); }
/* #acf-form .acf-label label { color: white; } */
#acf-form a.acf-button { color: var(--e-global-color-01b2f71); }
.offer_history, .order_history { display: flex; flex-direction: column; border: solid 1px black; float: right; margin-top: 1rem; }
.offer_history_item, .order_history_item  { text-align: center; width: 100%; float: left; margin-bottom: 0.25rem; }
/* .offer_history_item.customer, .order_history_item.customer { background-color: var(--e-global-color-accent); } */
.offer_history_item.seller, .order_history_item.seller { background-color: var(--e-global-color-accent); }
.offer_history_item.status, .order_history_item.status { background-color: var(--e-global-color-primary); }
.offer_history_subitem, .order_history_subitem { width: 100%; float: left; padding: 0.25rem; }
.offer_history_subitem.date, .order_history_subitem.date { font-size: small; padding: 0.25rem; }
.offer_history_subitem.offer_expired, .order_history_subitem.offer_expired { text-decoration: line-through; }
.offer_history_subitem.offer_expired:after, .order_history_subitem.offer_expired:after { content: " (expired)"; color: red; font-size: smaller; }

.customer .order_history_subitem, .customer .offer_history_subitem { text-align: left; }
.seller .order_history_subitem, .seller .offer_history_subitem { text-align: right; }
.status .order_history_subitem, .status .offer_history_subitem { text-align: center; }

.acf_offers, .acf_messages, .acf_shipping, .acf_dispute { width: fit-content; clear: both; float: left; margin: 1rem 0; }
.acf-field-68a0f1c63178a, .acf-field-68af2cd79c27b, .acf-field-68b1c614b344d { display: none; }

.acf_offers .acf-field-68a0f1c63178a { display: block; width: 100% !important; }
.acf_messages .acf-field-68af2cd79c27b { display: block; width: 100% !important; }
.acf_shipping .acf-field-68b1c614b344d { display: block; width: 100% !important; }	