#order_status { text-align: right; float: right; padding-left: 0.5rem; text-transform: none; font-size: small; }

.dokan-vendor-setup-wizard #wc-logo img { max-width: 350px !important; }

/* .listing-status-Published { display: none; } */
 /* #Recast-MyListings .listing-status-Published { display: flex; } */
/* .listing-status-Draft { background-color: #ff0000; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */
/* .listing-status-Published { background-color: #00ff00; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */
/* .listing-status-unknown { background-color: #888888; color: white; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */

/* .listing-tag-category { background-color: #0088ff; padding: 0.25rem 0.5rem; margin-right: 0.5rem; display: flex; width: fit-content; border-radius: 10rem; font-size: small; } */
/* .listing-tag-category a { color: #ffffff !important; font-size: small; } */
/* .listing-tag-category a:hover { color: #ffffff88 !important; } */
/* .listing-tag-msrp { text-decoration: line-through; } */

.Recast-shopFilter-taxLabel h3 { padding: 0.25rem 0.5rem; background-color: var(--e-global-color-primary); color: var(--e-global-color-01b2f71); }
.Recast-shopFilter-taxLabel { background-color: var(--e-global-color-01b2f71); border: solid 2px var(--e-global-color-primary); margin-bottom: 0.5rem; }

.Recast-shopFilter-taxLabel.active h3 { background-color: var(--e-global-color-text); color: var(--e-global-color-01b2f71); }
.Recast-shopFilter-taxLabel.active { border: solid 2px var(--e-global-color-text); }

/* a.Recast-shopFilter-termLabel { margin: 0.5rem; }  */
/* a.Recast-shopFilter-termLabel:hover { color: var(--e-global-color-accent); } */

.recast-button-important { background-color: var(--e-global-color-text) !important; }
.acf-hidden, .acf-recast-hidden { display: none; }
.acf-fields { display: contents; }
.d-none { display: none !important; }
.float-right { float: right !important; }
.float-left { float: left !important; }
.clear { clear: both !important; }
/* #Recast-Logout { float: right; width: 10%; } */
/* #Recast-MyListings a, #Recast-MyOffers a, #Recast-MyOrders a, #recast-order a  { color: var(--e-global-color-text); } */

/* #Recast-MyListings, #Recast-Listing, #Recast-MyOffers, #Recast-MyOrders, #recast-order { display: inline-block; } */
/* min-width: 45%; width: fit-content !important; float: left; 
	padding: 0.5rem; margin: 0 1rem 1rem 0; border: solid 0.25rem darkslategray; } */
/* Below is a duplicate, if 'recast-order' is needed.... */
/* #recast-order { display: inline-block; min-width: 45%; width: fit-content !important; float: left; padding: 0.5rem; margin: 0 1rem 1rem 0; border: solid 0.25rem darkslategray; } */
/* #Recast-MyListing h3, #Recast-MyOffers h3, #Recast-MyOrders h3, #recast-order h3 { margin-bottom: 0.5rem; } */
/* #Recast-MyListing a.item, #Recast-MyOffers a.item, #Recast-MyOrders a.item, #recast-order a.item { display: flex; padding: 0rem 0.25rem; } */

/* a.elementor-button { display: none; } */
/* button.woocommerce-button.button.woocommerce-form-login__submit { background-color: red !important; color: blue !important; } */
/* #Recast-MyListings { background-color: tan; } */
/* #Recast-MyOffers, #recast-offer, #recast-sidebar .offer_history { background-color: lightgoldenrodyellow; } */
/* #Recast-MyOrders, #recast-order, #recast-sidebar .order_history { background-color: lightgreen; } */

/* #recast-sidebar { width: 35%; display: inline-block; float: right; margin-bottom: 1rem; } */

/* #Recast-MyListings .acf-form-submit, #Recast-MyOffers .acf-form-submit, #Recast-MyOrders .acf-form-submit, a#recast-order .acf-form-submit { margin: 0 1rem 1rem 0; } */

#Recast-ListingPrice, #Recast-ShippingPrice, #Recast-TotalPrice { text-align: right; }
#Recast-ListingPrice::before, #Recast-ShippingPrice::before
#Recast-TotalPrice::before { content: '$'; font-weight: 800; }
#recast_offer_amount { text-align: right; padding: 0.25rem; height: 100%; width: 85%; float: left; }
#recast_MOT_flag { padding: 0.25rem; width: 10%; }
.recast_offer_amount_wrapper { float: left; width: 100%; text-align: right; margin-left: 1.25rem; }
.recast_offer_amount_plusShipping { font-size: small; color: red; width: 100%; float: left; }
.recast-order { display: flex; /* height: fit-content;  */ flex-direction: column; padding: 0.5rem; margin: 0.5rem 0 1.25rem; }
/* .recast-listing { display: flex; height: fit-content; } */
/* .recast-listing .recast-listing-panel  { width: 75%; } */
.recast-listing-panel .e-con, .recast-listing-panel .e-con-inner  { padding: 0; }
/* .recast-listing.disabled .recast-listing-panel  { width: 100%; } */
/* .recast-order, .recast-listing { background-color: var(--e-global-color-01b2f71); } */

#Recast-MyOffers, #Recast-MyOrders, #Recast-Listings, #Recast-Shop { padding: 1.25rem; }
/* #Recast-MyListings .recast-listing, #Recast-DrawListing .recast-listing, #Recast-Shop .recast-listing { background-color:  var(--e-global-color-938a83b); padding: 0.5rem; margin: 0.5rem 0 1.25rem; } */
/* #Recast-MyOffers .recast-order, #Recast-MyOffers .recast-listing { background-color: var(--e-global-color-f64482c); } */
/* #Recast-MyOrders .recast-order, #Recast-MyOrders .recast-listing { background-color: var(--e-global-color-0a1cea8); } */
/* #Recast-MyOffers .recast-listing, #Recast-MyOrders .recast-listing { padding: 0rem; } */
/* .recast-listing:not(:has(> .recast-listing-panel)) { background-color: lightgreen; } */

/* .recast-order, .recast-listing:not(:has(> ..recast-listing-panel)) { background-color: darkyellow); } */

/* .recast-listing .recast-listing-panel { border: solid 2px red; } */
/* .recast-listing .recast-listing-panel { background-color: white; } */
/* .recast-order .recast-listing-panel, .recast-listing .recast-listing-panel { background-color: green; } */
/* .recast-order-details { width: fit-content; } */

/* .recast-order-listing .listing { background-color: #DDDDDD;  } */
/* .recast-order-listing .listing-pricebox { flex-direction: row !important; padding: 0; } */
/* .recast-order-listing .listing-tags { flex-direction: row !important; padding: 0; } */
/* .recast-order-listing .listing-info { display: block; } */
/* .recast-order-listing .listing-buttons { display: none; } */
/* #Recast-MyListings .recast-order-listing .listing-buttons { display: unset; } */
/* .recast-order-listing .listing-details { background-color: white; } */
/* .e-con-full .e-flex:has(> .listing-details) { flex-direction: row; } */
/* .recast-order, .recast-listing .listing-details .e-con-inner { display: block; } */

#acf-form input.acf-button { margin: 1rem; }
#acf-form { background-color: var(--e-global-color-primary); }
/* #acf-form .acf-label label { color: white; } */
#acf-form a.acf-button { color: var(--e-global-color-01b2f71); }
.offer_history, .order_history { display: flex; flex-direction: column; border: solid 1px black; float: right; margin-top: 1rem; }
.offer_history_item, .order_history_item  { text-align: center; width: 100%; float: left; margin-bottom: 0.25rem; }
/* .offer_history_item.customer, .order_history_item.customer { background-color: var(--e-global-color-accent); } */
.offer_history_item.seller, .order_history_item.seller { background-color: var(--e-global-color-accent); }
.offer_history_item.status, .order_history_item.status { background-color: var(--e-global-color-primary); }
.offer_history_subitem, .order_history_subitem { width: 100%; float: left; padding: 0.25rem; }
.offer_history_subitem.date, .order_history_subitem.date { font-size: small; padding: 0.25rem; }
.offer_history_subitem.offer_expired, .order_history_subitem.offer_expired { text-decoration: line-through; }
.offer_history_subitem.offer_expired:after, .order_history_subitem.offer_expired:after { content: " (expired)"; color: red; font-size: smaller; }

.customer .order_history_subitem, .customer .offer_history_subitem { text-align: left; }
.seller .order_history_subitem, .seller .offer_history_subitem { text-align: right; }
.status .order_history_subitem, .status .offer_history_subitem { text-align: center; }

.acf_offers, .acf_messages, .acf_shipping, .acf_dispute { width: fit-content; clear: both; float: left; margin: 1rem 0; }
.acf-field-68a0f1c63178a, .acf-field-68af2cd79c27b, .acf-field-68b1c614b344d { display: none; }

.acf_offers .acf-field-68a0f1c63178a { display: block; width: 100% !important; }
.acf_messages .acf-field-68af2cd79c27b { display: block; width: 100% !important; }
.acf_shipping .acf-field-68b1c614b344d { display: block; width: 100% !important; }	